/* common styles  */

body {
  font-family: "Poppins", sans-serif !important;
}

section {
  min-height: 100vh;
}

.section-heading {
  padding: 5rem 0;
}

/* footer section */
footer {
  margin-bottom: 20px;
}

footer .love {
  font-size: 20px;
  margin: 0;
}

footer .fa-heart {
  color: firebrick;
}

footer .copy {
  font-size: 16px;
}

footer .social-media i {
  color: black;
  font-size: 40px;
  padding: 5px;
}

footer .fa-github-square:hover {
  color: rgb(99, 24, 99);
}

footer .fa-linkedin:hover {
  color: #2478b5;
}

footer .fa-envelope-square:hover {
  color: lightpink;
}
