/* common styles  */

body {
  font-family: "Poppins", sans-serif !important;
}

section {
  min-height: 100vh;
}

.section-heading {
  padding: 5rem 0;
}

body h1 {
  font-size: 60px;
}

body h2 {
  font-size: 30px;
}

body h3 {
  font-size: 18px;
}

body h4 {
  font-size: 15px;
}

body p {
  font-size: 20px;
}

/* nav bar section */
.navbar {
  background-color: white;
}

.navbar-brand {
  color: #1f1f1f;
  font-weight: 700px;
}

.navbar-brand:hover {
  color: lightpink;
}

.nav-link {
  color: #1f1f1f;
}

.nav-link:hover {
  color: lightpink;
}

#mobile-menu {
  color: #1f1f1f;
  font-size: 30px;
  transition: color 0.25s ease-in-out;
}

#mobile-menu:hover {
  color: lightpink;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* home section */
#home {
  display: flex;
  align-items: center;
}

#home .intro-text {
  text-align: left;
  padding: 90px 0;
}

#home .intro-text h1 {
  font-weight: 500;
}

#home .intro-text .court-intro {
  color: lightpink;
  margin: 35px 0;
}

#home .fa-long-arrow-alt-down {
  font-size: 30px;
  position: absolute;
  left: 0px;
  bottom: 75px;
}

/* about section */
#about h1 {
  margin: 50px 0px;
}

#about .timeline {
  margin-bottom: 50px;
}

#about .timeline-item {
  padding-top: 50px;
}

#about .timeline-item h2 {
  font-weight: 600;
}

#about .timeline-item h3 {
  font-weight: 600;
  color: lightpink;
  text-transform: uppercase;
}

#about .timeline-item h4 {
  font-weight: 500;
}

/* contact section */
#contact h2 {
  font-weight: 600;
}

#contact p {
  margin: 15px 0px;
}

#contact h4 {
  font-weight: 600;
  color: lightpink;
  text-transform: uppercase;
  margin-top: 40px;
}

#contact .social-media i {
  font-size: 40px;
  padding: 5px;
  color: #1f1f1f;
}

#contact .fa-github-square:hover {
  color: rgb(99, 24, 99);
}

#contact .fa-linkedin:hover {
  color: #2478b5;
}

#contact form {
  text-align: center;
  border: #1f1f1f solid 2px;
  border-radius: 5px;
  padding: 40px;
}

#contact input,
#contact textarea {
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 100%;
}

#contact textarea {
  resize: none;
}

#contact button {
  color: white;
  background: #1f1f1f;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}

/* footer section */
footer {
  margin-bottom: 20px;
}

footer .love {
  font-size: 20px;
  margin: 0;
}

footer .fa-heart {
  color: firebrick;
}

footer .copy {
  font-size: 16px;
}
